<div class="display-by-dropdown-wrapper">

    <div class="drop-down-menu display-by-dropdown-click">
        <i class="fa fa-plus plus dropdown-toggle" data-toggle="dropdown">
            <p ng-if="selectedItem" ng-bind="selectedItem.ATTRIBUTE_NAME" class="selected-item"></p>
            <span ng-if="!selectedItem" class="">Display By</span>
        </i>
        <div class="verticalline"></div>
        <i class="caret dropdown-toggle dropdown-arrow" data-toggle="dropdown"></i>


        <div class="drop-down display-by-dropdown-click-content">
            <ul class="dropdown-menu">
                <li ng-repeat="option in itemsList"><a href="" ng-click="selectItem(option)" class="dropList">{{option.ATTRIBUTE_NAME}}</a> </li>
            </ul>
        </div>
    </div>



    </div>