<div id="subheader">
    <div id="subheaderleft">
        <div id="detailbackbtn">
            <a href="/headcount#!/"  class="backbtn"><i class="fa fa-angle-left"></i> Back</a>
        </div>

        <div id="subheaderpara">
            <p>{{reportTitle}}</p>
        </div>
    </div>

    <div class="pull-right HC_subheader_right">
        <div class="pull-left">
            <a href="" class="backbtn" ng-click="saveAsModalOpen()">Save As</a>
        </div>

        <div class="pull-right">
            <a href="" class="backbtn" ng-click="allViewsModalOpen()">All Views</a>
        </div>
    </div>
</div>