<form class="hide" action="Export/Excel" method="post" id="exportForIE9">
    <textarea id="exportValue" name="excelData"></textarea>
    <input type="text" id="exportFilename" name="filename" />
    <input type="text" id="fileExtension" name="fileExtension" />
    <input type="text" id="chartImageData" name="chartImageData" />
    <input type="submit" id="submit" value="Submit" />
</form>

<form class="hide" action="Export/PDF" method="post" id="exportForPDF">
    <input type="text" id="exportUrl" name="exportUrl" />
    <input type="text" id="exportPDFFilename" name="exportPDFFilename" />
    <input type="text" id="clientHeight" name="clientHeight" />
    <input type="text" id="docHTML" name="docHTML" />
    <input type="submit" id="submitPDF" value="Submit" />
</form>