<div id="exportconsoleright">

    <ng-include src="'../../app/exports/views/exportForm.template.html'"></ng-include>

    <div tabindex="0" class="dropdownmenuconsole onclick-menu">
        <i class="fa fa-external-link"></i>
        <div class="verticalline"></div>
        <i class="fa fa-sort-desc"></i>
        <ul class="onclick-menu-content">
            <li ng-click="exportCSV()">
                CSV
            </li>
            <div class="hrline"></div>
            <!--<li ng-click="exportPDF()">
                PDF
            </li>-->
            <div class="hrline"></div>
            <li ng-click="exportXLS()">
                XLSX
            </li>
        </ul>
    </div>
</div>